*{box-sizing: border-box;
    max-width: 100%;
  }

h1{
    color: $secondaryColor !important;
    padding: 10px;
    font-family: $mainFont;
    font-size: $textXL !important;
    text-align: center;
    }


h2{
    font-family: $mainFont;
    font-size: $textMd !important;
    color: $secondaryColor !important;
    text-align: center;
}

p{
    font-family: $mainFont;
    font-size: $textSm !important;
    color: $textColor !important;
    text-align: center;
}

main{
    background-color: $backgroundColor;
}



.card{
    margin: 10px;
    text-align: center;
    
    img{
        max-width: 100%;
        height: auto;
    }

}

.scale:hover{
    transition: 0.5s;
    object-fit: cover;
    transform: scale(1.05);
    cursor: pointer;
}


.background-color{
    background-color: $mainColor
} 

.botonGeneral{
    display: inline-block;
    padding: 10px 10px;
    background-color: $secondaryColor;
    color: $mainColor;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}


footer{
    background-color: $mainColor;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
    img{
        width: 30px;
    }
    ul{
        list-style: none;
        display: inline-block;
        li{
            list-style-type: none;
            a{
            font-family: $mainFont;
            font-size: $textSm;
            color: $textColor;
            }
        }
    }
}