
.navbs{
    background-color: $mainColor;
    ul{
        padding: 5px;
        li{
            list-style: none;
            padding: 10px;
            a{
                color: $textColor;
                font-family: $mainFont;
                font-size: $textMd;
             }
        }
    }
    img{
        width: 200px;
    }
}
